/* 
*you can also change button to #start for just the start button
*the button just applies to all buttons
*but if you do a #then the id name it will apply to that element only
*while you can do styling in html, make sure to do it all here 
*/
body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

button {
    position: fixed;
    color: white;
    background-color: black;
    border-color: white;
    border-radius: 20px;
    width: 312px;
    height: 50px;
    font-size: 25px;
    text-align: center;
}

#start{
    visibility: visible;
    position: absolute;
    left: calc(50% - 130px);
    top: 46%;
}

#easy{
    visibility: hidden;
    position: absolute;
    top: calc(46% - 120px);
    left: calc(50% - 130px);
}

#easy_txt {
    left: 75%;
    color: white;
    font-size: 40px;
    font-family: Cambria;
    
}

#continue {
    visibility: hidden;
    left: calc(49% - 130px);
    top: calc(75% + 30px);
}

#normal{
    visibility: hidden;
    position: absolute;
    top: calc(46% - 60px); 
    left: calc(50% - 130px);
}

#random{
    visibility: hidden;
    position: absolute;
    top:46%; 
    left: calc(50% - 130px);
}

#table{
    visibility: hidden;
}

#wordleTitle {
    text-align: center;
}

#gamemode {
    visibility: visible;
    top: calc(100% - 60px);
    left: calc(100% - 314px);
    position: absolute;
}

p {
    color: white;
    font-size: 50px;
    font-family: Cambria;
    position: relative;
}

td {
    border: 2px;
    border-style: solid;
    border-color: rgb(45, 45, 47);
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 30px;
    font-family: sans-serif;
    background-color: rgb(18, 18, 19);;
}

table{
    border-spacing: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}