/*
*you can also change button to #start for just the start button
*the button just applies to all buttons
*but if you do a #then the id name it will apply to that element only
*while you can do styling in html, make sure to do it all here
*/
body {
    background-color: rgb(18, 18, 19);
    margin: 0px;
    padding: 0px;
}




button {
    position: fixed;
    color: white;
    background-color: rgb(18, 18, 19);
    border-color: rgb(45, 45, 47);
    border-radius: 20px;
    width: 312px;
    height: 50px;
    font-size: 25px;
    text-align: center;
}




#start{
    visibility: visible;
    position: absolute;
    left: calc(50% - 130px);
    top: 46%;
}




#easy{
    visibility: hidden;
    position: absolute;
    top: calc(46% - 120px);
    left: calc(50% - 130px);
}

#gamemodes{
    position: absolute;
    visibility: hidden;
    top: calc(46% - 90px);
    left: calc(50% - 130px);
}

#instructions{
    position: absolute;
    visibility: hidden;
    top: calc(44%);
    left: calc(50% - 130px);
}


#easy_txt {
    position: absolute;
    left: 75%;
    color: white;
    font-size: 40px;
    font-family: Cambria;
   
}

#continue {
    visibility: hidden;
    left: calc(49% - 130px);
    top: calc(75% + 30px);
}




#link {
    visibility: hidden;
    left: calc(49% - 130px);
    top: calc(75% + 90px);
}




#normal{
    visibility: hidden;
    position: absolute;
    top: calc(46% - 60px);
    left: calc(50% - 130px);
}




#random{
    visibility: hidden;
    position: absolute;
    top:46%;
    left: calc(50% - 130px);
}




#table{
    visibility: hidden;
    
}




#wordleTitle {
    text-align: center;
}




#chg_gamemode {
    visibility: hidden;
    top: calc(100% - 60px);
    left: calc(100% - 314px);
    position: absolute;
}




p {
    color: white;
    font-size: 50px;
    font-family: Cambria;
    position: relative;
}

dl{
    position: absolute;
    visibility: hidden;
    color: white;
    font-size: 25px;
    left: 20%
}



td {
    border: 2px;
    border-style: solid;
    border-color: rgb(45, 45, 47);
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 30px;
    font-family: sans-serif;
    background-color: rgb(18, 18, 19);
    border-radius: 0px;
}




table{
    border-spacing: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}





